@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

WordPress Theme

File:			app.scss
Author:			Amapolazul
Homepage:		www.amapolazul.com
Copyright:		2018

************************************************************************************************************************ */

/* ---------- Variables ---------- */

$primary_color: #606060;
$secondary_color: #c23334; // Rojo
$tertiary_color: #1a59a1; // Azul
$fourth_color: #07334c; // Azul Oscuro
$background: #bab9c4; // Gris
$border: #606060;

$max_width: 1200px;

/* ---------- General ---------- */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@font-face {
	font-family: 'Nexa Bold';
	src: url(fonts/Nexa-Bold.otf);
}

@font-face {
	font-family: 'Nexa Light';
	src: url(fonts/Nexa-Light.otf);
}

* {
	margin: 0;
	padding: 0;
}

body {
	font: {
		// family: 'Open Sans', sans-serif;
		family: 'Nexa Light';
		size: 14px;
	}
	color: $primary_color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	// font-family: 'Open Sans', sans-serif;
	font-family: 'Nexa Bold';
}

a {
	color: $secondary_color;
	&:hover {
		color: $secondary_color;
	}
}

.row {
	max-width: $max_width;
}

/* ---------- Template ---------- */

/* Top */

.top_1 {
	padding: 10px 0;
	background-color: #f2f2f2;
	.moduletable_to11 {
		color: #0056a3;
		text-align: center;
		a {
			color: #0056a3;
		}
	}
}

.top {
	.moduletable_to1 {
		padding: 15px 0;
	}
	.moduletable_to2 {}
	.moduletable_to3 {
		padding-bottom: 10px;
		.woocommerce-product-search {
			label {
				display: none;
			}
			input {
				height: inherit;
				margin: 0;
				padding: 0 0 0 20px;
				background: {
					image: url(moduletable_to3_bg.png);
					position-y: 4px;
					repeat: no-repeat;
				}
				border: 0;
				box-shadow: none;
				&::placeholder {
					font-size: 14px;
					text-transform: uppercase;
				}
			}
			button {
				display: none;
			}
		}
	}
}

.f-nav {
	width: 100%;
	top: 0;
	background-color: #fff;
	position: fixed;
	z-index: 9999;
}

/* Banner */

.banner {
	.moduletable_ba1 {
		iframe {
			border: 0;
		}
	}
}

/* Content */

.content {
	padding: 60px 0;
	h3 {
		&.white {
			margin: 0;
			color: #fff;
		}
	}
	.asterisk {
		color: red;
	}
	a {
		&.button {
			background-color: $secondary_color;
			border-radius: 0;
		}
	}
	input {
		border-radius: 0;
	}
	textarea {
		border-radius: 0;
	}
	.button {
		background-color: $secondary_color;
		border-radius: 0;
	}
	.title {
		padding: 15px 0;
		background: {
			image: url(title_bg.png);
			position: center;
			repeat: no-repeat;
			size: cover;
		}
		h1,
		h2 {
			margin: 0;
			font-size: 42px;
			color: #fff;
		}
	}
	.home {
		a {
			padding: 15px;
			background-color: #f2f2f2;
			color: $primary_color;
			text-align: center;
			display: block;
			&:hover {
				background-color: $secondary_color;
				color: #fff;
			}
			img {
				margin-bottom: 15px;
			}
			h4 {
				min-height: 50px;
				margin: 0;
				padding: 0 15px;
				font-size: 18px;
			}
		}
	}
	.woocommerce {
		ul.products {
			li {
				margin-bottom: 15px;
				a {
					color: $primary_color;
					&:hover {
						color: $secondary_color;
					}
					img {
						margin: 0;
						padding: 15px 15px 0 15px;
						background-color: #f2f2f2;
					}
					h2 {
						min-height: 68px;
						padding: 15px !important;
						background-color: #f2f2f2;
						text: {
							align: center;
							transform: uppercase;
						}
					}
					.star-rating {
						width: 100%;
						margin: 10px 0;
						span {
							padding: 0;
							display: flex;
							justify-content: center;
							float: inherit;
							position: inherit;
							strong {
								padding: 0 4px;
							}
						}
					}
				}
			}
		}
		.product {
			.woocommerce-product-gallery {
				padding: 15px;
				background-color: #f2f2f2;
			}
		}
		a,
		button {
			&.button {
				background-color: $secondary_color;
				border-radius: 0;
				color: #fff;
				&:hover {
					background-color: $secondary_color;
					color: #fff;
				}
				&.whatsapp {
					background-color: #01e675;
					font-size: 20px;
				}
			}
		}
	}
	&.full-width {
		padding: 0 0 60px 0;
		.max {
			max-width: $max_width;
			margin: auto;
		}
	}
	&.landing {
		padding: 0;
		.max {
			max-width: $max_width;
			margin: auto;
		}
		.owl-stage {
			.owl-item {
				figure {
					.wpb_pro_img_url {
						padding: 10px;
						background-color: #fff;
					}
					figcaption {
						padding: 10px 0 0 0;
						background-color: transparent;
						.wpb-wps-product-title {
							h3 {
								margin: 0;
								font: {
									family: 'Nexa Bold';
									size: 24px;
								}
								letter-spacing: 2px;
							}
						}
						.wpb_cart_button {
							display: none;
						}
					}
				}
			}
		}
		.block-landing-3 {
			font-size: 18px;
		}
		.block-landing-4 {
			h1,
			h2 {
				width: fit-content;
				margin-bottom: 230px;
				padding: 70px 20px;
				background-color: $secondary_color;
				font-size: 28px;
				color: #fff;
				letter-spacing: 2px;
			}
			h3 {
				margin-bottom: 10px;
				font-size: 20px;
				color: #fff;
				letter-spacing: 2px;
			}
			p {
				margin-bottom: 10px;
				font-size: 18px;
				color: #fff;
				letter-spacing: 2px;
				&.small {
					margin: 0;
					font-size: 14px;
					letter-spacing: 0px;
				}
			}
			.wpcf7-form {
				.input-group {
					margin-bottom: 5px;
					border: 1px solid #fff;
					.input-group-label {
						min-width: 100px;
						background-color: transparent;
						border: 0;
						border-right: 1px solid #fff;
						color: #fff;
					}
					.input-group-field {
						background-color: transparent;
						border: 0;
						color: #fff;
					}
				}
				.input-group-text {
					margin-bottom: 5px;
					padding: 5px;
					border: 1px solid #fff;
					font-size: 13px;
					color: #fff;
					input {
						margin: 0;
					}
					a {
						color: #fff;
					}
				}
				.button {
					margin: 0;
					padding: 5px 40px;
				}
				.wpcf7-validation-errors,
				.wpcf7-mail-sent-ok {
					margin: 6px 0;
					border-color: #fff;
					color: #fff !important;
				}
			}
		}
		.block-landing-5 {
			max-width: 900px;
			margin: auto;
			padding: 60px 0;
			p {
				margin: 0;
				font-size: 18px;
			}
		}
		.block-landing-6 {
			padding: 100px 0 40px 0;
			background: {
				image: url(bottom_bg.png);
				position: center;
				repeat: no-repeat;
				size: cover;
			}
			font-size: 16px;
			color: #fff;
			ul {
				list-style: none;
			}
			p {
				margin: 0;
			}
			a {
				color: #fff;
			}
		}
		.block-landing-button {
			a.button {
				margin: 30px 0 0 0;
			}
		}
	}
}

/* Block 1 */

.block_1 {
	padding: 60px 0;
	background: {
		image: url(block_1_bg.png);
		position: center;
		repeat: no-repeat;
		size: cover;
	}
	.moduletable_b11 {
		h3 {
			margin: 0;
			font-size: 28px;
			color: #fff;
		}
	}
}

/* Block 2 */

.block_2 {
	padding: 60px 0;
	.moduletable_b21 {
		h3 {
			margin: 0;
			font-size: 28px;
		}
	}
}

/* Block 3 */

.block_3 {
	padding: 60px 0;
	.moduletable_b31 {
		h3 {
			margin: 0;
			font-size: 28px;
		}
		p {
			margin: 0;
		}
		#a {
			border-right: 1px solid $border;
			font-size: 24px;
		}
		#b {
			font-size: 24px;
		}
	}
}

/* Block 4 */

.block_4 {
	padding: 20px 0;
	background-color: $fourth_color;
	.moduletable_b41 {
		font-size: 20px;
		color: #fff;
		p {
			margin: 0;
		}
	}
}

/* Block 5 */

.block_5 {
	padding: 20px 0;
	background-color: #f2f2f2;
	.moduletable_b51 {
		font-size: 20px;
		p {
			margin: 0;
		}
	}
}

/* Block 6 */

.block_6 {
	padding-bottom: 60px;
	.moduletable_61 {
		h3 {
			margin: 0;
			font-size: 28px;
		}
		p {
			margin: 0;
		}
	}
}

/* Bottom */

.bottom {
	padding: 30px 0;
	background: {
		image: url(bottom_bg.png);
		position: center;
		repeat: no-repeat;
		size: cover;
	}
	.moduletable_bo1 {
		font-size: 16px;
		color: #fff;
		ul {
			list-style: none;
		}
		p {
			margin: 0;
		}
		a {
			color: #fff;
		}
	}
}

/* Copyright */

.copyright {
	padding: 15px 0 60px 0;
	background-color: $fourth_color;
	color: #fff;
	a {
		color: #fff;
	}
	&.landing {
		padding: 15px 0;
	}
}

/* 404 */

.cuatro_cero_cuatro {
	padding: 20vh 0;
	h1 {
		.line_1 {
			font-size: 80px;
		}
		.line_2 {
			font-size: 120px;
			line-height: 60px;
		}
	}
}

/* ---------- Media Queries ---------- */

/* Small only (639px) */

@media screen and (max-width: 39.9375em) {

	/* Top */

	.top_1 {
		padding: 5px;
		.moduletable_to11 {
			font-size: 12px;
			.panel-grid-cell {
				margin-bottom: 5px !important;
			}
		}
	}

	.top {
		.moduletable_to1 {
			padding: 10px 5px;
		}
	}

	/* Content */

	.content {
		.title {
			h1 {
				font-size: 22px;
			}
		}
		&.full-width {
			padding: 0 10px 60px 10px;
		}
	}

	/* Block 3 */

	.block_3 {
		.moduletable_b31 {
			#a {
				border-right: 0;
			}
		}
	}

}

/* Medium and up (640px) */

@media screen and (min-width: 40em) {}

/* Medium only (640px and 1023px) */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up (1024px) */

@media screen and (min-width: 64em) {}

/* Large only (1024px and 1199px) */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/* ---------- Others ---------- */

.clear {
	clear: both;
}